bq {
    */ padding: 0%;
    */ margin-left: auto;
    */ margin-right: 10px;
    */ width: 250vw;
    */ height: 250vh;
    */
}

main {
    gap: 2rem;
    background-image: url("./images/Preview.jpg");
    background-repeat: no-repeat;
    background-position-x: 40%, right;
    background-size: 35% 35%;
    min-height: 100vh;
    min-width: 100vw;
}

/* Add your CSS here */
html,
body {
    height: 40%;
    margin: 0;
    padding: 10;

}

#map {
    position: relative;
    /* Change this from absolute to relative */
    height: 400px;
    /* Adjust height as needed */
    margin: 0 auto;
    /* Center the container horizontally */
    width: 75%;
    /* Or set a fixed width, e.g., 600px */
}